*.pyc
.idea
/build/src
/build/pkg
/build/bin
/build/tools
/test_tmp
*.db
/storage/
/volumes/
/tes-work-dir/
/funnel-work-dir/
*.sw[op]
node_modules
bower_components
.sass-cache/
style.css
style.css.map
bundle.js

