[submodule "vendor/github.com/golang/protobuf"]
	path = vendor/github.com/golang/protobuf
	url = https://github.com/golang/protobuf
[submodule "vendor/github.com/grpc-ecosystem/grpc-gateway"]
	path = vendor/github.com/grpc-ecosystem/grpc-gateway
	url = https://github.com/grpc-ecosystem/grpc-gateway
[submodule "vendor/golang.org/x/net"]
	path = vendor/golang.org/x/net
	url = https://go.googlesource.com/net
[submodule "vendor/google.golang.org/grpc"]
	path = vendor/google.golang.org/grpc
	url = https://github.com/grpc/grpc-go
[submodule "vendor/github.com/boltdb/bolt"]
	path = vendor/github.com/boltdb/bolt
	url = https://github.com/boltdb/bolt
[submodule "vendor/github.com/nu7hatch/gouuid"]
	path = vendor/github.com/nu7hatch/gouuid
	url = https://github.com/nu7hatch/gouuid
[submodule "vendor/github.com/ghodss/yaml"]
	path = vendor/github.com/ghodss/yaml
	url = https://github.com/ghodss/yaml
[submodule "vendor/gopkg.in/yaml.v2"]
	path = vendor/gopkg.in/yaml.v2
	url = https://gopkg.in/yaml.v2
[submodule "vendor/github.com/minio/minio-go"]
	path = vendor/github.com/minio/minio-go
	url = https://github.com/minio/minio-go
[submodule "vendor/github.com/rackspace/gophercloud"]
	path = vendor/github.com/rackspace/gophercloud
	url = https://github.com/rackspace/gophercloud
[submodule "vendor/github.com/mitchellh/mapstructure"]
	path = vendor/github.com/mitchellh/mapstructure
	url = https://github.com/mitchellh/mapstructure
[submodule "vendor/github.com/docker/docker"]
	path = vendor/github.com/docker/docker
	url = https://github.com/docker/docker
[submodule "vendor/github.com/Sirupsen/logrus"]
	path = vendor/github.com/Sirupsen/logrus
	url = https://github.com/Sirupsen/logrus
[submodule "vendor/github.com/kr/pretty"]
	path = vendor/github.com/kr/pretty
	url = https://github.com/kr/pretty
[submodule "vendor/github.com/kr/text"]
	path = vendor/github.com/kr/text
	url = https://github.com/kr/text
[submodule "vendor/golang.org/x/oauth2"]
	path = vendor/golang.org/x/oauth2
	url = https://go.googlesource.com/oauth2
[submodule "vendor/cloud.google.com/go"]
	path = vendor/cloud.google.com/go
	url = https://code.googlesource.com/gocloud
[submodule "vendor/github.com/googleapis/gax-go"]
	path = vendor/github.com/googleapis/gax-go
	url = https://github.com/googleapis/gax-go
[submodule "vendor/google.golang.org/api"]
	path = vendor/google.golang.org/api
	url = https://code.googlesource.com/google-api-go-client
[submodule "vendor/github.com/shirou/gopsutil"]
	path = vendor/github.com/shirou/gopsutil
	url = https://github.com/shirou/gopsutil
[submodule "vendor/github.com/stretchr/testify"]
	path = vendor/github.com/stretchr/testify
	url = https://github.com/stretchr/testify
[submodule "vendor/github.com/rs/xid"]
	path = vendor/github.com/rs/xid
	url = https://github.com/rs/xid
[submodule "vendor/github.com/imdario/mergo"]
	path = vendor/github.com/imdario/mergo
	url = https://github.com/imdario/mergo
[submodule "task-execution-schemas"]
	path = proto/tes/task-execution-schemas
	url = https://github.com/ga4gh/task-execution-schemas
[submodule "vendor/github.com/spf13/cobra"]
	path = vendor/github.com/spf13/cobra
	url = https://github.com/spf13/cobra
[submodule "vendor/github.com/spf13/pflag"]
	path = vendor/github.com/spf13/pflag
	url = https://github.com/spf13/pflag
[submodule "vendor/github.com/elgs/jsonql"]
	path = vendor/github.com/elgs/jsonql
	url = https://github.com/elgs/jsonql
[submodule "vendor/github.com/elgs/gojq"]
	path = vendor/github.com/elgs/gojq
	url = https://github.com/elgs/gojq
[submodule "vendor/github.com/elgs/gosplitargs"]
	path = vendor/github.com/elgs/gosplitargs
	url = https://github.com/elgs/gosplitargs
[submodule "vendor/github.com/elazarl/go-bindata-assetfs"]
	path = vendor/github.com/elazarl/go-bindata-assetfs
	url = https://github.com/elazarl/go-bindata-assetfs
[submodule "vendor/github.com/gizak/termui"]
	path = vendor/github.com/gizak/termui
	url = https://github.com/gizak/termui
[submodule "vendor/github.com/maruel/panicparse"]
	path = vendor/github.com/maruel/panicparse
	url = https://github.com/maruel/panicparse
[submodule "vendor/github.com/mattn/go-runewidth"]
	path = vendor/github.com/mattn/go-runewidth
	url = https://github.com/mattn/go-runewidth
[submodule "vendor/github.com/mitchellh/go-wordwrap"]
	path = vendor/github.com/mitchellh/go-wordwrap
	url = https://github.com/mitchellh/go-wordwrap
[submodule "vendor/github.com/nsf/termbox-go"]
	path = vendor/github.com/nsf/termbox-go
	url = https://github.com/nsf/termbox-go
[submodule "vendor/github.com/cpuguy83/go-md2man"]
	path = vendor/github.com/cpuguy83/go-md2man
	url = https://github.com/cpuguy83/go-md2man
[submodule "vendor/github.com/kballard/go-shellquote"]
	path = vendor/github.com/kballard/go-shellquote
	url = https://github.com/kballard/go-shellquote
[submodule "vendor/github.com/go-test/deep"]
	path = vendor/github.com/go-test/deep
	url = https://github.com/go-test/deep
