os:
  - linux
language: go
go:
  - "1.10"
sudo: required

services:
  - docker
  - elasticsearch

cache:
  directories:
    - $GOPATH/pkg
    - $GOPATH/src/github.com/ohsu-comp-bio/funnel/.git/modules
    - $GOPATH/src/github.com/ohsu-comp-bio/funnel/vendor

git:
  submodules: false

install:
  - make depends
  - make

jobs:
  include:
    - stage: all
      script: make lint
      env:
        - n=lint
    - script: make test
      env:
        - n=test
    - script: make test-htcondor
      env:
        - n=htcondor
    - script: make test-slurm
      env:
        - n=slurm
    - script: make test-gridengine
      env:
        - n=gridengine
    - script: make test-pbs-torque
      env:
        - n=pbs-torque
    - script:
        - make test-badger
      env:
        - n=badger
    - script: 
        - sleep 10
        - make test-elasticsearch      
      env:
        - n=elasticsearch
    - script: 
        - make start-datastore
        - sleep 10
        - make test-datastore
      env:
        - n=datastore
    - script: 
        - make start-mongodb
        - sleep 10
        - make test-mongodb
      env:
        - n=mongodb
    - script: 
        - make start-dynamodb
        - sleep 10
        - make test-dynamodb
      env:
        - n=dynamodb
    - script: 
        - make start-kafka
        - sleep 10
        - make test-kafka
      env:
        - n=kafka
    - script:
        - make start-generic-s3
        - sleep 10
        - make test-generic-s3
      env:
        - n=generic-s3
    - script:
        - make start-pubsub
        - sleep 10
        - make test-pubsub
      env:
        - n=pubsub
    - script:
        - make start-ftp
        - sleep 10
        - make test-ftp
      env:
        - n=ftp

notifications:
  email: false
