language: python
sudo: required
services:
  - docker
python:
  - "2.7"
os:
  - linux
before_install:
  - sudo apt-get update
  - sudo apt-get install -y golang
  - pip install -r tests/requirements.txt
  - docker pull minio/minio
  - docker pull ubuntu
  - docker build -t tes-wait -f tests/docker_files/tes-wait/Dockerfile tests/docker_files/tes-wait/
install:
  - make depends
  - make
script: 
  - make lint
  - nosetests tests
notifications:
  email: false
