[build]
  publish = "public"
  command = "hugo -b $URL"

[build.environment]
  HUGO_VERSION = "0.104.3"

[context.deploy-preview]
  command = "echo $DEPLOY_PRIME_URL && hugo --verbose -b $DEPLOY_PRIME_URL"

[context.branch-deploy]
  command = "hugo --verbose --buildDrafts -b $DEPLOY_PRIME_URL"
