<!doctype html>
<html lang="en" ng-app='TESApp'>
  <head>
    <meta charset="utf-8">
    <base href="/">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title ng-bind="page.title"></title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/static/style.css">
  </head>


  <body>
    <div class="layout mdl-js-layout">

      <header class="mdl-layout__header">
        <div class="header-row">
          <span class="header-title">{{pageTitle}}</span>
          <div class="header-spacer"></div>
          <div class="pager" ng-show="nextPage && pageId == 'task-list'"><a href="{{ nextPage }}" target="_self">Next page</a></div>
        </div>
      </header>

      <div class="drawer">
        <span class="layout-title">Funnel</span>

        <nav>
          <a href="/v1/tasks" target="_self">Tasks</a>
          <a href="/v1/nodes">Nodes</a>
          <a href="/v1/tasks/service-info">Service Info</a>
        </nav>

        <div ng-show="pageId == 'task-list'" class="task-list-filters" ng-controller="TaskFilterController">
          <h4>Filter</h4>
          <div>
            <span class="filter-name">State</span>
            <select ng-model="filters.state">
              <option value="any">Any</option>
              <option value="QUEUED">Queued</option>
              <option value="INITIALIZING">Initializing</option>
              <option value="RUNNING">Running</option>
              <option value="COMPLETE">Complete</option>
              <option value="CANCELED">Canceled</option>
              <option value="EXECUTOR_ERROR">Executor Error</option>
              <option value="SYSTEM_ERROR">System error</option>
            </select>
          </div>

          <br>

          <div>
            <span class="filter-name">Tags</span>
            <table class="tags-filter-table">
              <tbody>
                <tr ng-repeat="tag in filters.tags">
                  <td>
                    <div>
                      <input type="text" class="form-control" ng-model="tag.key" placeholder="Key"/>
                    </div>
                    <div>
                      <input type="text" class="form-control" ng-model="tag.value" placeholder="Value"/>
                    </div>
                  </td>
                  <td>
                    <button class="btn btn-cancel mdl-button--fab mini-fab" ng-click="removeTag(tag)"><i class="material-icons">clear</i></button>
                  </td>
                </tr>
              </tbody>
            </table>

            <div style="padding: 10px; text-align: center">
              <button class="btn mdl-button--fab mini-fab" ng-click="addNewTag()"><i class="material-icons">add</i></button>
            </div>
          </div>
        </div>

      </div>

      <main ng-view></main>

    </div>
    
    <script src="/static/bundle.js"></script>

  </body>
</html>
