<div ng-controller="TaskListController" class="task-list-page">
  <div class="board">

    <h4>Tasks</h4>

    <table ng-table="tableParams" class="task-list-table">
      <tr ng-repeat="task in $data"> 
        <td data-title="'ID'" filter="{id: 'text'}" sortable="'id'"><a href="#/tasks/{{task.id}}">{{ shortID(task.id) }}</a></td>
        <td data-title="'State'" filter="{state: 'text'}" sortable="'state'">{{task.state}}</td>
        <td data-title="'Name'" filter="{name: 'text'}" sortable="'name'">{{task.name}}</td>
        <td data-title="'Description'" filter="{description: 'text'}" sortable="'description'">{{task.description}}</td>
        <td><button class="btn-cancel mdl-button--icon" ng-disabled="task.state == 'COMPLETE' || task.state == 'ERROR' || task.state == 'CANCELED' || task.state == 'SYSTEM_ERROR'" ng-click=cancelTask(task.id)><i class="material-icons">clear</i></button></td>
      </tr>
    </table> 

  </div>
</div>
