<div ng-controller="TaskListController" class="task-list-page">

  <table class="task-list-table">
    <thead>
      <th>ID</th>
      <th>State</th>
      <th>Name</th>
      <th></th>
    </thead>
    <tbody>
      <tr ng-repeat="task in tasks track by task.id" ng-class="task.state + '-state'"> 
        <td class="task-list-id"><a href="/v1/tasks/{{task.id}}">{{ task.id }}</a></td>
        <td>{{ task.state }}</td>
        <td class="task-list-name">{{ task.name }}</td>
        <td class="task-list-cancel"><button
          class="btn-cancel mdl-button--fab mini-fab"
          ng-hide="isDone(task)"
          ng-click=cancelTask(task.id)><i class="material-icons">clear</i></button></td>
      </tr>
    </tbody>
  </table> 

</div>
