@import "node_modules/material-design-lite/src/material-design-lite";
@import "node_modules/ng-table/src/styles/ng-table.scss";

.layout {
  @extend .mdl-layout, .mdl-layout--fixed-drawer, .mdl-layout--fixed-header;

  header {
    @extend .mdl-layout__header, .mdl-color--grey-100, .mdl-color-text--grey-600;

    .header-row {
      @extend .mdl-layout__header-row;

      .header-title {
        @extend .mdl-layout-title;
      }
      .header-spacer {
        @extend .mdl-layout-spacer;
      }
    }
  }

  .layout-title {
    @extend .mdl-layout-title;
  }

  .drawer {
    @extend .mdl-layout__drawer, .mdl-color--blue-grey-900, .mdl-color-text--blue-grey-50;
    border: 0;

    nav {
      @extend .mdl-navigation, .mdl-color--blue-grey-800;
      padding-top: 0;

      a {
        @extend .mdl-navigation__link;
      }
    }
  }
}


main {
  @extend .mdl-layout__content;
  overflow: scroll;
}

.node-list-table,
.task-list-table {
  @extend .mdl-data-table;

  width: 100%;
  td, tr, th {
    text-align: left;
  }
}

.node-list-table,
.task-list-table {
  .DEAD-state,
  .SYSTEM_ERROR-state,
  .ERROR-state {
    border-right: 10px solid #bd0d0d;
  }
  .COMPLETE-state {
    border-right: 10px solid #39aa56;
  }
  .INITILIZING-state,
  .RUNNING-state {
    border-right: 10px solid #cdb62c;
  }
  .CANCELED-state {
    border-right: 10px solid #ddd;
  }
  .UNKNOWN-state, .QUEUED-state {
    border-right: 10px solid white;
  }
}

.pager {
  text-align: right;
  padding: 10px 50px;
}

.data-table,
.task-desc-table {
  .DEAD-state,
  .SYSTEM_ERROR-state,
  .ERROR-state {
    color: #bd0d0d;
  }
  .COMPLETE-state {
    color: #39aa56;
  }
  .INITILIZING-state,
  .RUNNING-state {
    color: #cdb62c;
  }
}

.task-desc-table, .data-table {
  @extend .mdl-data-table;

  width: 100%;
  border-width: 0;
  margin-top: 20px;

  td {
    text-align: left;
    border: 0;
    padding: 5px;
    height: 20px;
  }

  tbody tr {
    height: 20px;
  }

  th {
    text-align: left;
  }
}

.executor-table,
.data-table,
.task-desc-table {
  tr {
    width: 100%;
  }
  td { 
    &:nth-child(1) {
      width: 15%;
      font-weight: bold;
      color: #636363;
    }
    &:nth-child(2) {
      width: 85%;
    }
  }
}

.task-list-name {
  width: 100%;
}

.executor-table {
  margin-bottom: 20px;
}

.layout header .header-row {
  padding-left: 20px;
}

main h6 {
  padding-left: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-top: 50px;
}

.btn-group {
  background: transparent;
  display: inline-block;
  float: right;
}

.btn {
  @extend .mdl-button;
  background: transparent;
  border-style: solid;  
  border-width: 1px;
  border-color: #ddd;
  border-radius: 0;

  &:not(:last-child) {
    border-right: none;
  }
}

.btn-cancel-simple {
  margin-left: 20px;
}

.btn-cancel, .mdl-button--icon, .mdl-button--raised {
  @extend .mdl-button;
  border-width: 1px;
  border-style: solid;
  border-color: #ddd;
  background-color: #FFFFFF;

  &:active {
    background-color: #FFFFFF;
  }

  &:focus:not(:active) {
    background-color: #FFFFFF;
  }

  &:focus:hover:enabled {
    background-color: #FF3D00;
    border-color: #FF3D00;
  }

  &:hover:enabled {
    background-color: #FF3D00;
    border-color: #FF3D00;
  }
}
