#search {
  padding: 0em 2em 0em 2em;
}

.search-text {
  margin-left: 0.5em;
}

.search-btn:hover {
  outline: 2px solid #268bd2;
  cursor: pointer;
}

dialog {
  margin: 4rem auto auto;
  border-radius: .5rem;
  width: 90%;
  max-width: 40rem;
  min-height: 10rem;
  max-height: calc(100% - 8rem);
  border: 2px solid black;
}

dialog::backdrop {
  background-color: hsla(223, 13%, 10%, .66);
  -webkit-backdrop-filter:blur(.25rem);
  backdrop-filter:blur(.25rem)
}

.search-btn {
  width: 100%;
  background: transparent;
  border: none;
  border-radius: 0.3em;
  color: white;
  height: 2em;
  text-align: left;
  font-size: smaller;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
}

.global-header-search {
  flex-grow: 1;
  margin-left: 1em;
  margin-right: 1em;
  width: 30%;
}

.search-quick-links {
    margin-top: 2rem;
    padding: 1rem 1.5rem;
}

.search-quick-links-title {
    font-weight: bold;
    color: #333;
    margin-bottom: 0.5rem;
}

.quick-links-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.quick-links-list li {
    padding: 0.25rem 0;
}

.quick-links-list a {
    display: block;
    padding: 0.5rem;
    border-radius: 0.25rem;
    color: #333;
}

.quick-links-list a:hover {
    outline: 2px solid #034AD8;
}
