#cloud-config

users:
- name: funnel
  uid: 4949
  groups: docker
  system: true

write_files:
- path: /etc/systemd/system/funnel.service
  permissions: 0644
  owner: root
  content: |
    [Unit]
    Description=Start a Funnel server

    [Service]
    Environment=DOCKER_GROUP_ID=412
    ExecStart=/usr/bin/docker run --rm -u 4949 --group-add ${DOCKER_GROUP_ID} --name=funnel -v /var/run/docker.sock:/var/run/docker.sock -v /usr/bin/docker:/usr/bin/docker -v /var/db/funnel:/opt/funnel/funnel-work-dir -w /opt/funnel -p 80:8000 -p 9090:9090 docker.io/ohsucompbio/funnel:latest gce start
    ExecStop=/usr/bin/docker stop funnel
    ExecStopPost=/usr/bin/docker rm funnel

- path: /etc/systemd/system/iptables-funnel.service
  permissions: 0644
  owner: root
  content: |
    [Unit]
    Description=Set up iptables rules for Funnel (port 80 and 9090)

    [Service]
    Type=oneshot
    ExecStart=/sbin/iptables -A INPUT -p tcp --dport 80 -j ACCEPT
    ExecStart=/sbin/iptables -A INPUT -p tcp --dport 9090 -j ACCEPT


runcmd:
- mkdir /var/db/funnel
- chown funnel:funnel /var/db/funnel
- usermod -aG docker funnel
- docker pull docker.io/ohsucompbio/funnel:latest
- systemctl daemon-reload
- systemctl start funnel.service
- systemctl start iptables-funnel.service
