<div id="job_info" ng-controller="JobInfoController">
    <a href="/#/">&lt;---</a>
    <h1>Job {{job_info.jobId}}</h1>

    <div>{{job_info.task.name}}</div>
    <div>{{job_info.task.description}}</div>

    <div>
      <div>Commands</div>
      <div ng-repeat="item in job_info.task.docker" content="item">
          <div>Container: {{item.imageName}}</div>
          <div>Container: {{item.cmd}}</div>
      </div>
    </div>

    <div>Requirements</div>
    <div ng-repeat="item in job_info.task.resources" content="item">
        {{item}}
    </div>

    <div>State: {{job_info.state}}</div>

    <div>
      <div>Logs</div>
      <div ng-repeat="item in job_info.task.logs" content="item">
        <div>ExitCode</div>
        <pre>{{item.exitCode}}</pre>

        <div>STDERR</div>
        <pre>{{item.stderr}}</pre>

        <div>STDOUT</div>
        <pre>{{item.stdout}}</pre>
      </div>
    </div>
</div>