[Unit]
Description=Funnel Worker

[Service]
WorkingDirectory=/opt/funnel
Restart=always
ExecStart=/opt/funnel/gce/start-worker.sh

[Install]
WantedBy=multi-user.target
