[Unit]
Description=Funnel Master

[Service]
WorkingDirectory=/opt/funnel
Restart=always
ExecStart=/opt/funnel/funnel server --config /opt/funnel/gce/master.config.yml

[Install]
WantedBy=multi-user.target
