name: Funnel Build and Cache

on:
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Set up Go 1.x
      uses: actions/setup-go@v5
      with:
        go-version: 1.21

    - name: Check out code
      uses: actions/checkout@v2

    - name: Cache Funnel binary
      uses: actions/cache@v3
      with:
        path: ./funnel
        key: ${{ runner.os }}-funnel-bin-${{ hashFiles('**/go.sum') }}-${{ github.ref }}
        restore-keys: |
          ${{ runner.os }}-funnel-bin-${{ github.ref }}

    - name: Build Funnel (if cache doesn't exist)
      run: |
        if [ ! -f ./funnel ]; then
          make build
        fi
    
    - name: Cache Funnel binary (after build)
      uses: actions/cache@v3
      with:
        path: ./funnel
        key: ${{ runner.os }}-funnel-bin-${{ hashFiles('**/go.sum') }}-${{ github.ref }}

    - name: Setup tmate session
      uses: mxschmitt/action-tmate@v3

    - name: Upload Funnel binary as artifact
      uses: actions/upload-artifact@v4
      with:
        name: funnel
        path: funnel
