# Workflow for running the TES compliance suite against Funnel
#
# This includes the following steps:
#  1. Build Funnel and store the resulting binary artifact
#  2. Install tes-compliance-suite and run against every version of TES simultaneously
#  3. start-report-deployment: Send a dispatch to the funnel-compliance repository to generate and publish
#     the tes-compliance-suite report to https://ohsu-comp-bio.github.io/funnel-compliance/
#
# Optionally debug via SSH
# Ref: https://fleetdm.com/engineering/tips-for-github-actions-usability
#
# To use this step uncomment and place anywhere in the build steps. The build will pause on this step and
# output a ssh address associated with the Github action worker. Helpful for debugging build steps and
# and intermediary files/artifacts.
#
# - name: Setup tmate session
#   uses: mxschmitt/action-tmate@v3

name: Compliance Test

on:
  # Run on push to main/master/develop (e.g. after PR is merged)
  push:
    branches:
      - main
      - master
  # Run on PR to main/master/develop
  pull_request:
    branches:
      - main
      - master
      - develop

# Cancel redundant jobs (if a new job is triggered for the same workflow and ref)
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    uses: ./.github/workflows/build.yml

  compliance:
    strategy:
      fail-fast: false
      matrix:
        version: [1.0.0, 1.1.0]
        db: ["boltdb", "mongodb"]
        # Temporary: Only test local compute backend until we bring up a K8s cluster in Github Actions
        # compute: ["local", "kubernetes"]
        compute: ["local"]
        storage: ["local", "s3"]
    needs: build
    runs-on: ubuntu-latest
    steps:
      # Required to access the 'tests/mongo.config.yml' file
      # Perhaps uploading it as an artifact would be more efficient?
      - name: Check out code
        uses: actions/checkout@v2

      - uses: actions/download-artifact@v4
        with:
          name: funnel

      - name: Start Funnel server
        run: |
          touch config.yml

          if [ ${{ matrix.db }} = "mongodb" ]; then
            make start-mongodb
            cat `pwd`/tests/mongo.config.yml >> config.yml
          fi

          if [ ${{ matrix.storage }} = "s3" ]; then
            docker run -d -p 9000:9000 --name minio \
                       -e "MINIO_ROOT_USER=minioadmin" \
                       -e "MINIO_ROOT_PASSWORD=minioadmin" \
                       -v /tmp/data:/data \
                       -v /tmp/config:/root/.minio \
                       minio/minio server /data
            cat `pwd`/tests/s3.config.yml >> config.yml
          fi

          if [ ${{ matrix.compute }} = "kubernetes" ]; then
            kubectl apply -f tests/k8s
            cat `pwd`/tests/k8s.config.yml >> config.yml
          fi

          chmod +x funnel
          ./funnel server run --config `pwd`/config.yml &> funnel.logs &

      - name: Run OpenAPI Test Runner
        run: |
          git clone https://github.com/elixir-cloud-aai/openapi-test-runner
          cd openapi-test-runner
          python3 -m venv venv
          source venv/bin/activate
          pip install -r requirements.txt
          python setup.py install
          openapi-test-runner report --version "${{ matrix.version }}" --server "http://localhost:8000/"
