name: Nextflow Test

on:
  push:
    branches:
      - main
      - master
  pull_request:

jobs:
  build:
    uses: ./.github/workflows/build.yml

  nextflow:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - name: Download Funnel
      uses: actions/download-artifact@v4
      with:
        name: funnel

    - name: Start Funnel
      run: |
        chmod +x ./funnel
        ./funnel server --LocalStorage.AllowedDirs $HOME run &

    - name: Install Nextflow
      run: |
        echo "Installing Nextflow: https://www.nextflow.io/docs/latest/install.html"

        # Install Java 17
        curl -s https://get.sdkman.io | bash
        sdk install java 17.0.10-tem
        java -version

        # Install Nextflow
        curl -s https://get.nextflow.io | bash
        chmod +x nextflow
        mkdir -p $HOME/.local/bin/
        mv nextflow $HOME/.local/bin/

        # Ensure Nextflow is in PATH
        export PATH=$HOME/.local/bin:$PATH
        echo "PATH=$HOME/.local/bin:$PATH" >> $GITHUB_ENV

        nextflow info

    - name: Install nf-canary and GA4GH-TES plugin
      run: |
        git clone https://github.com/seqeralabs/nf-canary
        cd nf-canary
        cat <<EOF >> nextflow.config
          plugins {
            id 'nf-ga4gh'
          }
          process.executor = 'tes'
          tes.endpoint = 'http://localhost:8000'
        EOF

    - name: Run nf-canary tests
      run: |
        ./nextflow/nextflow run nf-canary/main.nf
