[Unit]
Description=Funnel

[Service]
User=funnel
Group=funnel
Restart=always
WorkingDirectory=/opt/funnel
ExecStart=/opt/funnel/funnel gce run

[Install]
WantedBy=multi-user.target
