<div ng-controller="TaskInfoController">
  <div class="board">
    <h4>Task {{task.id}}</h4>
    <button class="btn-cancel" ng-click=cancelTask(task.id) ng-disabled="task.state == 'COMPLETE' || task.state == 'ERROR' || task.state == 'CANCELED'">
      Cancel
    </button>
    <br>
    <br>
    <table class="task-desc-table">
      <tbody>
        <tr>
          <td>Name</td>
          <td>{{ task.name }}</td>
        </tr>
        <tr>
          <td>Project ID</td>
          <td>{{ task.project }}</td>
        </tr>
        <tr>
          <td>Description</td>
          <td>{{ task.description }}</td>
        </tr>
        <tr>
          <td>State</td>
          <td>{{ task.state }}</td>
        </tr>
      </tbody>
    </table>

    <h5>Commands</h5>
    <table class="data-table">
      <thead>
        <tr>
          <th>Image</th>
          <th>Command</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="cmd in task.executors">
          <td>{{ cmd.image_name }}</td>
          <td><code>{{ cmdStr(cmd.cmd) }}</code></td>
        </tr>
      </tbody>
    </table>

    <h5>Inputs</h5>
    <table class="data-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>URL</th>
          <th>Container Path</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="input in task.inputs">
          <td>{{ input.name }}</td>
          <td>{{ input.description }}</td>
          <td>{{ input.url }}</td>
          <td>{{ input.path }}</td>
          <td>{{ input.type }}</td>
        </tr>
      </tbody>
    </table>

    <h5>Outputs</h5>
    <table class="data-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>URL</th>
          <th>Container Path</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="output in task.outputs">
          <td>{{ output.name }}</td>
          <td>{{ output.description }}</td>
          <td>{{ output.url }}</td>
          <td>{{ output.path }}</td>
          <td>{{ output.type }}</td>
        </tr>
      </tbody>
    </table>

    <h5>Resources</h5>
    <table class="task-desc-table">
      <tbody>
        <tr>
          <td>CPU</td>
          <td>{{ task.resources.cpu_cores }}</td>
        </tr>
        <tr>
          <td>RAM</td>
          <td>{{ task.resources.ram_gb }} GB</td>
        </tr>
        <tr>
          <td>Disk</td>
          <td>{{ task.resources.size_gb }} GB</td>
        </tr>
        <tr>
          <td>Preemptible</td>
          <td>{{ task.resources.preemptible }}</td>
        </tr>
      </tbody>
    </table>

    <h5>Logs</h5>
    <div ng-repeat="logs in task.logs">
      <div ng-repeat="item in logs.logs">
        <table class="task-desc-table">
          <tbody>
            <tr>
              <td>Exit Code</td>
              <td>{{ item.exit_code }}</td>
            </tr>
            <tr>
              <td>Stdout</td>
              <td>{{ item.stdout }}</td>
            </tr>
            <tr>
              <td>Stderr</td>
              <td>{{ item.stderr }}</td>
            </tr>
            <tr>
              <td>Host IP</td>
              <td>{{ item.host_ip }}</td>
            </tr>
            <tr ng-repeat="port in item.ports">
              <td>Ports</td>
              <td><b>Host:</b> {{ port.host }}<br><b>Container:</b> {{ port.container }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    
    <h5>API</h5>
    <div>
      <code>curl localhost:8000/v1/tasks/{{ task.id }}</code>
    </div>
  </div>
</div>
